.schedule__all-events-checkbox {
  font-weight: 600;
  color: #214280;
  text-transform: uppercase;
}

.day {
  padding-top: 2.25rem;
}

.day > heading {
  text-align: center;
}

.day > heading h3 {
  padding: 0.75rem 0;
  margin-bottom: 0;
  color: white;
  background-color: #214280;
  border-radius: 2px 2px 0 0;
}

.event {
  border: 1px solid var(--border-color, rgba(0, 0, 0, 0.4));
  border-top-width: 0;
}

.event + br {
  display: none;
}

.event__event-visible {
  display: flex;
}

.event__thumbnail-container img {
  max-width: 300px;
  margin-bottom: -0.75rem;
}

.event__heading {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.0375);
  transition: background-color 0.2s;
}

.featured .event__heading {
  color: white;
  background-color: #d14124;
}

.featured .event__heading:hover,
.featured .event__heading[aria-pressed="true"] {
  background-color: #d14124;
  opacity: 0.9;
}

.day [data-event]:nth-of-type(even) .event__heading {
  background-color: rgba(0, 0, 0, 0.01);
}

.day [data-event]:nth-of-type(even) .event__heading:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

.event__heading:hover,
.event__heading[aria-pressed="true"] {
  background-color: rgba(0, 0, 0, 0.125);
}

.event__info {
  flex: 1 1 auto;
}

.event__title {
  display: block;
  margin-bottom: 1rem;
  font-family: var(--serif);
  font-size: 106%;
  font-weight: 600;
}

.event__details {
  display: flex;
  align-items: flex-end;
  font-size: 84.1%;
}

.event__time {
  flex: 1 1 50%;
}

.event__location {
  flex: 1 1 50%;
  font-size: 94.4%;
  line-height: 1.5;
  text-transform: uppercase;
}

.event__arrow-container {
  flex: 0 1 3rem;
}

.event__arrow-container svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.2s;
}

[aria-pressed="true"] .event__arrow-container svg {
  transform: rotate(180deg);
}

.event [aria-hidden="false"].collapsible-panel {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.125rem;
  padding-left: 1rem;
  font-size: 89.1%;
  border-top: 1px solid var(--border-color, rgba(0, 0, 0, 0.4));
}

.event .collapsible-panel p:last-of-type,
.event .collapsible-panel p:not(:empty):last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .schedule__tag-list {
    column-count: 2;
  }
}

@media screen and (min-width: 992px) {
  .schedule__tag-list {
    column-count: 4;
  }
}

.schedule__tag-list li {
  font-size: 89.1%;
  text-transform: uppercase;
}
